.NothingDisplay{
    font-family: poppins;
    overflow: auto;
    height: 100%;
    background-image: url('../../BackgroundImages/resourceBack.png');
    border-radius:25px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#c4c4c4
}