.document {
  font-size: 10px;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.docName {
  padding-left: 15px;
  font-weight: 600;
}

.document img {
  padding-left: 10px;
  object-fit: cover;
  height:55px;
  width:55px;
}

.outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cross {
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
}
