.messageBox{
    max-width:85%;
    max-height: 200px;
    background-color: white;
    border-radius: 25px;
    font-family: poppins;
    margin:auto;
    margin-top:20px;
    margin-left:53px;
    box-sizing: border-box;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.senderProfile{
    display:flex;
    justify-content: flex-start;
}

.name{
    font-size:24px;
    font-weight: 600;
    padding-top: 25px;
    padding-left: 10px;
}

.role{
    font-size: 14px;
    font-weight: 400;
}

.timeline{
    font-size: 18px;
    font-weight: 400;
    padding-right: 20px;
}

.count{
    font-size: 14px;
    font-weight: 400;
    background-color: #F21B1B;
    padding:5px 12px;
    border-radius:25px;
    color:white;
    margin-right: 20px;
}

.body{
    font-size: 14px;
    font-weight: 400;
    width:400px;
    max-height: 70px;
    position:relative;
    left:90px;
    bottom: 5px;
    top:5px;
    padding-bottom: 30px;
}

.profilePic{
    width:75px;
    height:75px;
    padding-top:15px;
    padding-left: 10px;
}

.indicator{
    height:15px;
    width:15px;
    background-color: #009CDF;
    border-radius:25px;
    margin-right: 5px;
}

.roleIndicator{
    display:flex;
    justify-content: center;
    align-items: center;
}

.extraInfo{
    display:flex;
    justify-content: center;
    align-items: center;
}
