.container{
    height:720px;
    width: 580px;
}

@media all and (max-width: 1400px) {
    .main{
      width:30%;
      height:720px;
    }
  }

.ThirdScreen{
    height:670px;
    width: 464px;
    margin: 40px 80px;
    background-color: #FFFBFB;
    border-radius: 25px;
    box-shadow: 0px 4px 7px 3px rgba(0,0,0,0.2);
    margin-bottom:20px;
    background:linear-gradient(0deg, rgba(206, 225, 233, 0.2), rgba(206, 225, 233, 0.2)), url("../../BackgroundImages/mdapattern.png");
}