.login{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../BackgroundImages/login_back.png");
  background-repeat: repeat;
  height:100vh;
}

.signup {
    display: flex;
    background-color: #454444;
    /* border: 2px solid orange; */
    box-sizing: border-box;
    height: 95%;
    margin: auto;
  }
  
  .Content {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90%;
    margin-top: 0.5em;
    margin-left: 0.6em;
    margin-right: 0.4em;
    overflow: auto;
  }
  
  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #f5f5f5;
    margin-left: 20px;
    /* margin-bottom: 50px; */
  }
  
  .titleBlue {
    color: #009cdf;
  }
  
  .signupForm {
    display: flex;
    align-items: left;
    margin-left: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #f5f5f5;
  }
  .section {
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 50px;
  }
  
  .span {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  
  .box {
    width: 150px;
    height: 2.3em;
    margin-top: 2px;
    /* border:1px solid blue; */
    margin-bottom: 10px;
    border-radius: 2em;  
    padding-left: 20px ;
    border:none;
    outline: none;
  }
  
  .teacherBox {
    /* border: 1px solid red; */
    width: 22em;
    height: 2.3em;
    margin-top: 2px;
    margin-bottom: 10px;
    border: none;
    outline:none;
    border-radius: 2em;
  }
  
  .dropBox {
    /* border: 1px solid pink; */
    width: 12.5em;
    height: 2.3em;
    margin-top: 2px;
    border: none;
    border-radius: 2em;
    padding-left: 20px;
  }
  
  .skillsetBox {
    /* border: 1px solid brown; */
    width: 10.5em;
    height: 2.3em;
    margin-top: 2px;
    border: none;
    border-radius: 2em;
  }
  
  .plus {
    border: none;
    font-size: 1em;
    border-radius: 2em;
    background-color: #009cdf;
    padding: 0 12px;
    margin-left: 8px;
  }
  
  .skillset {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .buttonSet {
    display: flex;
    margin-top: -60px;
    justify-content: space-between;
    align-items: center;
   
  }
  .buttonSet1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
   
  }
  
  .submit {
    width: fit-content;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 20px;
    background-color: #009cdf;
    border: none;
    border-radius: 0.8em;
    padding: 10px 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #f5f5f5;
  }
  .submit1 {

    width: fit-content;
    margin-top: 2em;
    margin-bottom: 0.5em;
    margin-left: 20px;
    background-color: #009cdf;
    border: none;
    border-radius: 0.8em;
    padding: 10px 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #f5f5f5;
    display: none;
  }

  
  .linkSet {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 39px;
    margin-right: 15px;
  }
  
  .link {
    width: fit-content;
    margin-left: 20px;
    border: 2px solid #009cdf;
    border-radius: 0.8em;
    padding: 10px 40px;
    font-family: Poppins;
    font-style: normal;
    font-size: 14px;
    color: #009cdf;
  }
  
  .text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 1em;
    margin-bottom: 1.5em;
    text-decoration: none;
    color: #f5f5f5;
  }

  .error{
    /* z-index: 1000000000000; */
    /* border: 5px solid red; */
    margin-left: 20px;
    margin-bottom: 5px;
    /* padding: 0px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    max-width:45em;
    color: red;
  }

  .success{
    height:min-content;
    position:relative;
    bottom:1em;
    left:1.5em;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 0.27em;
    max-width:25em;
    color: rgb(13, 240, 13);
  }
  
  .signupImage{
    height:100%;
  }
  
  .activeText{
    width: fit-content;
    margin-left: 20px;
    background-color:  #009cdf;
    border-radius: 0.8em;
    padding: 10px 40px;
    font-family: Poppins;
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
  }
  
  @media only screen and (max-width: 1227px){
    .signupImage{
      display: none;
    }
  }

/* Media queries */

@media only screen and (max-width: 745px) {

  .login{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../BackgroundImages/login_back.png");
    background-repeat: repeat;
    height:170vh;
    
  }

  .error{
    /* z-index: 1000000000000; */
    /* border: 5px solid red; */
    text-align:center;
    margin-left: 10px;
    margin-bottom: 5px;
    /* padding: 0px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    max-width:45em;
    color: red;
  }

  .success{
    text-align: center;
    height:min-content;
    position:relative;
    bottom:1em;
    left:1.5em;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 0.27em;
    max-width:25em;
    color: rgb(13, 240, 13);
  }

  .signup {
    display: flex;
    background-color: #454444;
    /* border: 2px solid orange; */
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    margin: auto;
  }

  .signupImage{
    display: none;
  }
  
  .signupForm {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 60px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #f5f5f5;
  }
  .Content {
    /* border: 2px   solid cyan; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:0.4em;
    overflow:visible;
    /* position: relative;
    margin-top: 0.7em;
    margin-left: 0.6em;
    margin-right: 0.4em; */
  }
  .section {
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 0px;
    /* margin-left: 50px; */
    /* float: right; */
    /* display: none; */
  }

  .title {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: #f5f5f5;
    /* margin-left: 20px; */
    /* margin-bottom: 80px; */
    text-align: center;
  }
  
  .titleBlue {
    color: #009cdf;
    text-align: center;
  }

  .buttonSet {
    position:relative;
    /* bottom:150px; */
    left:10%;
    /* top: -200px; */
    float: auto;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
     display: none;
  }
  .buttonSet1 {
    position:relative;
    /* bottom:150px; */
    /* left: 5%; */
    top: -30px;
    /* padding: 0px; */
    /* float: auto; */
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* position: relative; */
    /* margin-bottom: 20px; */
     /* display: none; */
  }
  
.submit {

  width: fit-content;
  margin-top: 2em;
  margin-bottom: 0.5em;
  margin-left: 20px;
  background-color: #009cdf;
  border: none;
  border-radius: 0.8em;
  padding: 10px 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #f5f5f5;
  display: none;
}
.submit1 {
position: relative;
/* left: 160px; */
/* top: 700px; */
/* bottom: 50px; */
  width: fit-content;
  margin-top: 2em; 
  margin-bottom: 0.5em;
  margin-left: 20px;
  background-color: #009cdf;
  border: none;
  border-radius: 0.8em;
  padding: 10px 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #f5f5f5;
  display: block;
}
  
  .linkSet {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 39px;
    margin-right: 15px;
    top: 100px;
  }

  
  .box {
    
    width: 350px;
    height: 2.3em;
    margin-top: 2px;
    border:none;
    border-radius: 2em;  
    margin-bottom: 0px;
    padding-left: 20px ;
    outline: none;
  }
  
  .teacherBox {
    /* border: 1px solid red; */
    width: 350px;
    height: 2.3em;
    margin-top: 2px;
    border: none;
    outline:none;
    border-radius: 2em;
  }
  
  .dropBox {
    /* border: 1px solid pink; */
    width: 350px;
    height: 2.3em;
    margin-top: 2px;
    border: none;
    border-radius: 2em;
    padding-left: 20px;
  }
  
  .skillsetBox {
    /* border: 1px solid brown; */
    width: 10.5em;
    height: 2.3em;
    margin-top: 2px;
    border: none;
    border-radius: 2em;
  }

  .activeText1{
    width: fit-content;
    margin-left: 30px;
    margin-right: 20px;
    background-color:  #009cdf;
    border-radius: 50%;
    padding: 10px 18px;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    color: #ffffff;
  }

  .link1{
    width: fit-content;
    margin-left: 30px;
    margin-right: 20px;
    border: 2px solid #009cdf;
    border-radius: 50%;
    padding: 10px 18px;
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    color: white;
  }
  .text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: normal;
    margin-left: 20px;
    margin-top: 1em;
    /* margin-bottom: 10px; */
    text-decoration: none;
    padding-bottom: 10px;
    color: #f5f5f5;
  }

}