.Notification{
    max-width: 85%;
    /* max-height: 250px; */
    background-color: white;
    border-radius: 25px;
    font-family: poppins;
    margin: auto;
    margin-top: 20px;
    margin-left: 53px;
    /* box-sizing: border-box; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.main{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}

.details{
    align-self: flex-start;
    margin-top:40px;
}

.icon{
    width:80px;
    height:80px;
    padding: 40px 20px;
}

.heading{
    font-size:26px;
    margin-bottom: 20px;
}

.description{
    font-size:14px;
    font-weight: 400;
    /* width: 85%; */
}

.button{
    color:white;
    font-size: 18px;
    background-color: #097cf0;
    padding: 10px 20px;
    margin: 30px;
    margin-right: 40px;
    border-radius: 15px;
}

.delete{
    margin-top:60px;
    margin-left:15px;
    width:40px;
    height: 40px;
}